<div class="main">
    <div class="header">
        <img src="../assets/Logo TCB inspire 1.png" alt="">
    </div>
    <div class="row" #main>
        <div class="w">
            <canvas id="w"></canvas>
        </div>
        <div class="h">
            <canvas id="h"></canvas>
        </div>
        <div class="y">
            <canvas id="y"></canvas>
        </div>
        <div class="space" id="space">
        </div>
        <div class="n">
            <canvas id="n"></canvas>
        </div>
        <div class="o">
            <canvas id="o"></canvas>
        </div>
        <div class="t">
            <canvas id="t"></canvas>
        </div>
        <div class="qm">
            <canvas id="qm"></canvas>
        </div>

    </div>
    <div class="footer">
        <p>
            Quét để trải nghiệm
        </p>
        <img src="../assets/image 2.png" alt="">
    </div>
</div>